.product-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 120px;
    padding: 100px 0 120px;
}

.product-section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid #979797;
    padding: 30px;
    text-align: center;
    height: 400px;
}

.product-section-information {

    p {
        margin-bottom: 16px;
    }

}

.product-section-title {

}

.product-section-subtitle {
    font-size: 20px;
    font-weight: bold;
    color: $text-color-light;
}

.product-section-price {
    font-size: 38px;
    color: $text-color;
    margin-bottom: 16px;
}

